@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


@layer components {
  .input-on-dark {
    @apply dark:bg-slate-800 dark:border-slate-500 dark:text-slate-400

  }
  .text-on-dark {
    @apply text-gray-700 dark:text-slate-300
  }
  
  .bg-on-dark {
    @apply dark:bg-slate-900 dark:border-gray-700 
  }
  .hover-on-dark {
    @apply hover:bg-gray-100 duration-150  dark:hover:bg-slate-700
  }
}

/* styles/globals.css */
:root {
  --m-white: #f9f9f9; /* Warna untuk light mode */
}

.dark {
  --m-white: "bg-slate-white"; /* Warna untuk dark mode */
}
